<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fencing Calculator</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    <h1>Rating Calculator</h1>
    <h4>You can check the even rating under the "Result" tab on <a href="https://fencingtimelive.com/">fencingtimelive.com</a></h4>
    <form action="/rating" method="POST">
        <input type="text" name="event" placeholder="Event rating"/>
        <input type="submit" value="submit"/>
    </form>
    {% if awards %}
        {{ awards|safe }}
    {% else %}
        <p>Event Ratings include E1, D1, C1, C2, C3, B1, B2, B3, A1, A2, A3, A4</p>
    {% endif %}

    <div style="position: absolute; bottom: 20px">
        <a style="padding: 10px;" href="/points">Points Calculator</a>
        <a style="padding: 10px;" href="/DE">DE Calculator</a>
    </div>
</body>
</html>